<?xml version='1.0' encoding='utf-8'?>
<!-- Id TIDAK BOLEH di Ubah kecuali ada konfigurasi -->
<widget id="com.fikri.masyhari" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Praktek SIG</name>
    <description>
        Aplikasi Praktikum SIG Mobile
    </description>
    <author href="https://crazycoding.my.id" email="chemick86@gmail.com">
        Anshori Aris
    </author>
    <content src="index.html" />
    <platform name="android">
        <preference name="android-minSdkVersion" value="23" />
        <preference name="android-maxSdkVersion" value="34" />
        <preference name="android-targetSdkVersion" value="34" />
        <preference name="android-installLocation" value="auto" />
        <preference name="AndroidLaunchMode" value="singleInstance" />
        <preference name="Orientation" value="portrait" />
        <preference name="android-permission" value="INTERNET" />
        <preference name="LoadUrlTimeoutValue" value="60000" />
    </platform>
    <icon src="logo.png" />
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="*" />
</widget>
